
* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container left */
.slideshow-container1 {
  max-width: 100%;
  position: relative;
  margin: 0;
  margin-bottom: 0;
  margin-top: 50px;
  overflow: hidden;
}

/* Caption text */
.text {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
  margin-left: -25%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.top {
    font-family: 'Montserrat', sans-serif;
    font-size: 135%;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.5s;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

.intro {
    height: 100px;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
}

.intro .inner {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    max-width: none;
    line-height: 70%;
    
}
.content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
    font-weight: 100;

}

.os-animation {
  margin-top: 20px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 135%;
    font-weight: 400;
    color: black;
    text-decoration: none;
    border: solid black;
    padding: 5px 10px;
    border-radius: 9px;
    transition: all 0.5s;
}
.btn:hover {
    color: grey;
    border: solid grey;
}

.mySlides > div {
  margin: 10px;
  width: 50%;
  margin-top: 5%;
  height: 100%;
}

.test {
  margin-left: 101%;
  margin-right: -100%;
  margin-top: -70%;
  width: 100%;
  height: 100%;
}

.text1 {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
  margin-left: 25%;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  .text1 {font-size: 11px}
}