body{
  padding: 0;
}

.container
{
  text-align: center;
  padding-top:40px;
}

ul {
  padding: 0;
  background: linear-gradient(to bottom, rgb(124, 116, 153) 0%, rgb(144, 149, 175) 56%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
  text-align: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index:1;
  height: 40px;
  margin: 0;
  color: white;
}

li {
  display: inline;
  font-size: 20px;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: linear-gradient(to bottom, rgb(124, 116, 153),  rgb(182, 174, 211) );
  padding: 10px;
  width:300px;
  height: 150px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius:100px;

}

.bike_details{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(182, 174, 211) 0%, rgb(173, 150, 209) 56%, rgba(255,255,255,1) 100%);
    position: fixed;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0.95;
    cursor: pointer;
}

.iframe0{
  height: 700px;
  width: 600px;
  position: fixed;
  padding: 0;
  margin: 200px 400px auto;
  top: 0;
  left: 0;
  text-align: center;
  border:none;
}

button{
  color: white;
  font-size: 20px;
  padding: 5px;
  line-height: 2;
  background: none;
  border-style: none;
  cursor: pointer;
}

#closing{
  padding-top:130px;
  padding-left: 700px;
}

.iframe1{
  width: 100%;
  border:none;
  height: 800px;
}
.all_rental{
  display: flex;
}

button:focus {
  outline:0;
}
button:hover {
  outline:0;
  color: black;
  text-shadow: none;
}
fieldset
{
  border: none;
}

select{
  border-radius: 5px;
  font-size: 20px;
}

input {
  background: none;
  border: none;
  color: black;
  font-size: 25px;
  font-family: inherit;
}
form{
  font-size: 25px;
}


table{
  border-collapse: collapse;
  width: 100%;
  font-size: 30px;
}
td, th{
  border: 1px solid #ddd;
  padding: 8px;
}