ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  margin-bottom: 10px;
}

li {
  display: inline;
  font-size: 20px;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: linear-gradient(to bottom, #92c1ff 0%, #8faff3 80%,#437cf7 100%);
  padding: 10px;
  width:300px;
  height: 150px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius:50px;

}

.bike_details{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #92c1ff 0%,rgb(173, 197, 250) 41%,#9ebaf7 53%,#437cf7 100%);
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0.95;
    cursor: pointer;
}
.iframe0{
  height: 300px;
  width: 400px;
  position: fixed;
  padding: 0;
  margin: 200px 400px auto;
  top: 0;
  left: 0;
  text-align: center;
  border:none;
}

button{
  color: white;
  font-size: 20px;
  padding: 5px;
  line-height: 2;
  background: none;
  border-style: none;
  cursor: pointer;
  text-shadow: 0 0 3px black;
}
#closing{
  padding-top:130px;
  padding-left: 700px;
}

.iframe1{
  width: 100%;
  border:none;
  height: 800px;
}
.all_rental{
  display: flex;
}
button:focus {outline:0;}


.container
{
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top:80px;

}

fieldset
{
  border: none;
}